{% extends 'index.html' %}

{% block content %}

    <div class="column">
        <p>&nbsp;</p>
        <p><b>We have a question bank that are collected from variaty of resource around the world. 
            We work with a lot of proffessors around the world to verify that our questions and and answers are correct.
        </b></p>
        <p>&nbsp;</p>
    </div>
    <div class="column">
        <img src="/static/images/column3.jpg" alt="There are thousands of quizzes out there" width="400" height="250">
    </div>
{% endblock %}