<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}" />
<title>NightBeach | florida web design</title>
</head>

<body>
<div id="container">
		<div id="mainpic"></div>   
        
        <div id="menu">
        	<ul>
            	<li class="menuitem"><a href="{{url_for('main.home')}}">Home</a></li>
                <li class="menuitem"><a href="{{url_for('main.category')}}">Category</a></li>
                <li class="menuitem"><a href="{{url_for('main.user')}}">User</a></li> 
                <li class="menuitem"><a href="#"></a></li>
                {% if current_user.is_authenticated %}
                    <li class="menuitem"></li><a href="{{ url_for('auth.logout') }}">
                        Logout
                    </a></li>
                {% endif %}
            </ul>
        </div>
        <div class="row" id="content">
            {% block content %} This is admin page{% endblock %}
        </div>
   </div>
   <div class="row" id="content">
        <div id="footer"><p>&#169; Designed by Van To CS361 OSU</p></div>  
   </div>
</body>
</html>