
{% extends 'base.html' %}
{% block content %}
    <div class="column">
        <img src="/static/images/column1.jpg" alt="education is your future" width="280" height="150">
        <p>&nbsp;</p>
        <p><b>Knowledge is the luggage helps you success in the future. You can find a lot quizzes here to improve your understand on many majors!</p>
        <p>&nbsp;</p>
    </div>
    <div class="column">
        <img src="/static/images/column2.jpg" alt="There are thousands of quizzes out there" width="280" height="150">
        <p>&nbsp;</p>
        <p><b>We offer thousands of quizzes in all hot categories for you to work on.</b></p>
        <p>&nbsp;</p>
    </div>
    <div class="column">
        <img src="/static/images/column3.jpg" alt="There are thousands of quizzes out there" width="280" height="150">
        <p>&nbsp;</p>
        <p><b>The more you invest now, the more you get in your future career. Do not wait to the last.</b></p>
        <p>&nbsp;</p>
    </div>
{% endblock %}